{% extends 'base2.html' %}
{% load static %}
{% block title %}Flights{% endblock %}
{% block content %}
<div class="container-fluid">
    <h2 class="mt-4">Available flights: </h2>
    {% if flights.exists %}
        {% for object in flights %}
        <div class="card shadow p-2 mb-5 bg-white rounded" style="width: 18rem;">
            <img class="card-img-top" src="{{object.imageFile.url}}" alt={{object.name}}>
            <div class="card-body">
                <h5 class="card-title">{{object.name}}</h5>
                {% if object.desc != '' %}
                    <p class="card-text">{{object.desc}}</p>
                {% else %}
                    <p>No description.</p>
                {% endif %}
                <p class="card-text lead">${{object.price}}</p>
                <a href="#" class="badge badge-success p-2 card-link" id="dineIn">Book Now</a>
                {% if request.user.is_superuser %} 
                    <a href="{% url 'del_flights' object.id %}" class="badge badge-danger p-2 card-link" id="dineIn">Remove Item</a> 
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h3 class="mt-4" style="color: red;">There are no current available flights right at this moment :/ </h3>
    {% endif %}
</div>
<!-- Menu toggle script -->

{% endblock %}