{% extends 'base2.html' %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="d-flex" id="wrapper">
    {% include 'sidebar.html' %}
    <div id="page-content-wrapper">
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <h1 class="mt-4">Welcome to Flight Booking</h1>
            <p>Flight booking is a tool that allows users to find available flights with a exceptional price to travel.</p>
            <p>It has services where it can serve its customers with a quality-standard ability to competence throughout your journey.</p>
            <br />
            <p>To start, press the <i class="fas fa-plane-departure"></i><code>Check for available flights</code>.</p>
        </div>
    </div>
</div>

<!-- Menu toggle script -->

{% endblock %}